@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");
html,
body {
  overflow-x: hidden;
  padding: 0 5%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  /* PortfolioBackground 1 */

  position: absolute;
  height: 100vh;
  left: 0px;
  top: 0px;

  background: radial-gradient(
    75.26% 76.81% at 50% 85.14%,
    #252525 0%,
    #060606 100%
  );
  background-color: #060606;
}
