.about {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 80vh;
  width: 100%;
  background-color: rgb(40, 40, 40);
  padding: 0 20px;
  margin-left: 5%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.about_title {
  font-weight: 700;
  font-size: 40px;
  color: rgb(5, 155, 255);
  margin-bottom: 0%;
}

.about_text {
  width: 60vw;
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0px;
}
