.about_about {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 80vh;
  width: 100%;
  background-color: rgb(40, 40, 40);
  padding: 0 20px;
  margin-left: 5%;
}

.about_title {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 0%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.about_text {
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
